
<div class="create-ride-input">
    
        <label style="width: 49%;" for="pickupPoint"><b>Pickup Point:</b></label>
        <label style="width: 49%;" for="to"><b>Dropoff Point:</b></label>
        <input style="width: 49%;" autocomplete="off" type="text" name="pickupPoint" value="<%=ride.pickupPoint%>"req >
        <input style="width: 49%;" autocomplete="off" type="text" name="dropoffPoint" id="" value="<%=ride.dropoffPoint%>"required>
        
        <br><br>
        <label for="">Number of Passengers</label>
        <input autocomplete="off" type="number" name="noOfPassengers" id="" value="<%=ride.noOfPassengers%>" required>
        
        <br><br>
        <label for="">Price</label>
        <input autocomplete="off" type="number" name="price" id="" value="<%=ride.price%>" required>
        
        <br><br>
        <label style="width: 49%;" for="">Date</label>
        <label style="width: 49%;" for="">Time</label>
        <input style="width: 49%;" autocomplete="off" type="date" name="date" id="" value="<%=ride.date%>" required>
        <input style="width: 49%;" autocomplete="off" type="time" name="time" id="" value="<%=ride.time%>" required>
        


  </div>


