<!--

<h2>Successful</h2>
Ride Details:
<br>
    <div> 
    <p><%= ride.creatorName%>
        <%= ride.pickupPoint %>
        <%= ride.dropoffPoint %>  
        <p><b> Number of passengers:</b> <%= ride.noOfPassengers %>  </p>
        <%= ride.date.toISOString().split('T')[0] %>
        <%= ride.price%>
        
    </p> 
    <a href="/">Go Home</a>
    
    </div>

-->
     

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Find Ride</title>
        <link rel="stylesheet" href="/css/ridedetails-styles.css">
        
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <script>
        document.getElementById('login&signup').style.display='flex';
        document.getElementById('only-login').style.display='none';
        document.getElementById('only-signup').style.display='none';
        window.onclick=function()
        {
            var hidedivforgot=document.getElementById('join-modal');
            window.onclick = function(event)
            {
                if (event.target == hidedivforgot)
                {
                    hidedivforgot.style.display = "none";
                }
            }
        }
    
    </script>
    <body>
    
        <div class="top-container">
            <h3>Ride created successful!<br>
            <a href="/">Go Home</a></h3>
            <h2>Ride Details:</h2><br>
       
            <div style="padding-left: 15px;">
                <p><b> Creator:</b> <%= ride.creatorName %> </p>
                <p><b> Pickup Point:</b> <%= ride.pickupPoint %>  </p>
                <p><b> Dropoff Point:</b> <%= ride.dropoffPoint %></p>
                <p><b> Date:</b> <%= ride.date.toISOString().split('T')[0] %></p>
                <p><b> Time:</b> <%= ride.time %></p>
                <p><b> Price:</b> Rs. <%= ride.price %> </p>
                <p><b> Seats availability:</b> <%= ride.noOfPassengers %> </p>
                
            </div>

       </div>
        
    
      </body>
      </html>
       
    
    